name: Flutter CI

# This workflow is triggered on pushes to the repository.

on:
  pull_request:
    branches:
    - dev
    
  workflow_dispatch:
    
# on: push    # Default will running for every branch.
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - packages/flutter_rocket
          - packages/rocket_cache
          - packages/rocket_client
          - packages/rocket_listenable
          - packages/rocket_mini_view
          - packages/rocket_model
          - packages/rocket_singleton
          - packages/rocket_view
          - rocket_cli
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
      
      - name: Install Dependencies
        run: flutter pub get
        working-directory: ${{ matrix.package }}

      - name: Analyze
        run: dart analyze .
        working-directory: ${{ matrix.package }}

      - name: Run Tests
        run: |
          if [ -d "test" ]; then
            flutter test
          else
            echo "No tests found"
          fi
        working-directory: ${{ matrix.package }}
